<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raspberry Pi Holga</title>

    <! -- blueimp Gallery -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blueimp-gallery.min.css') }}">

  </head>
  <body>
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div id="links">
        {% for pic in pictures %}
            <a href="{{ pic.original }}" title="{{ pic.title }}" data-gallery>
                <img class="lazy" data-original="{{ pic.thumbnail.src }}" alt="{{ pic.title }}" width="{{ pic.thumbnail.width }}" height="{{ pic.thumbnail.height }}"></a>
        {% endfor %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <! -- blueimp Gallery -->
    <script src="{{ url_for('static', filename='js/jquery.blueimp-gallery.min.js') }}"></script>
    <! -- Lazy Load for image loading -->
    <script src="{{ url_for('static', filename='js/jquery.lazyload.min.js') }}"></script>
    <script>
        $(function() {
            $("img.lazy").lazyload();
        });
    </script>

    </body>
</html>
